body {
    text-align: center;
    margin: 20px;
}
.gallery-page {
    background: #FFF;
    font-family: "pt serif", serif;
    margin: auto;
    width: 100%;
    max-width: 1600px;
    text-align: left;

}
.title {
    font-family: "helvetica nene", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 200px;
}
.description {
    font-size: 24px;
    text-align: justify;
    max-width: 800px;
    color: #444;
    white-space: pre-line;
}

.works {
    margin-left: -10px;
    margin-right: -10px;
}

.item {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
}

.item-img {
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s linear;
}
.item-img.hover {
    box-shadow: none;
}

.item-title {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    font-family: "helvetica nene", sans-serif;
}

.collection-link {
    text-decoration: none;
    color: #666;
    font-size: 18px;
    transition: color 0.2s linear;
    float: right;
    vertical-align: middle;
    margin-top: 20px;
}
.collection-link::after {
    clear: both;
}
.collection-link:hover {
    color: #000;
}
.gallery-page {
    padding-right: 20px;
}
.details-view-splitpane {
    width: 100%;
}
.details-view-artwork {
    height: auto;
    padding-right: 40px;
}
.details-view-artwork, .details-view-info {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}

.details-view-info {
    font-size: 20px;
    line-height: 1.4em;
}
.artwork-label {
    text-align: justify;
    padding-bottom: 40px;
}
.details-view-nav {
    display: table;
    width: 100%;
    padding-bottom:40px;
    font-size: 18px;
}
.nav-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}
.nav-left {
    text-align: left;
}
.nav-title {
    font-size: 36px;
    font-family: "pt serif", serif;
    font-weight: normal;
    margin: 0;
}
.nav-right {
    text-align: right;
    vertical-align: bottom;
}
.ctrl {
    margin-left: 20px;
    display: inline-block;
}
.ctrl.button {
    color: #444;
    border: 1px solid #444;
    padding: 10px 20px;
    transition: border-color 0.2s linear, color 0.2s linear;
}
.ctrl.button:hover {
    color: #000;
    border-color: #000;
}

