body {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.index-collections-wrapper {
    background-color: #F1F1F1;
    padding: 80px;
    box-sizing: border-box;
}
.index-collections-wrapper {
    text-align: center;
}
.collections-row-text {
    font-size: 40px;
    margin-bottom: 20px;

}
.collections-row-text a,
.collections-row-text a:visited {
    color: #333;
}
.collections-row-text a:hover,
.collections-row-text a:active {
    color: #000;
}
.collections-row {
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    text-align: left;
    overflow: hidden;
    /*border-left: 4px solid #DEDEDE;*/
    padding-left: 20px;
    margin-bottom: 40px;
    margin-left: -20px;
}
.collections-row.dummy {
    background: #DEDEDE;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 600px;
    cursor: not-allowed;
    margin-left: 0;
    transition: background 0.2s linear;
}
.collections-row.dummy:hover {
    background: #CECECE;
}
.collections-row.dummy .collections-row-text {
    margin-bottom: 0;
    padding-bottom: 0;
}
.collections-row.small .collections-row-art {
    height: 144px;
    overflow: hidden;
    white-space: pre;
}
.collections-row .collections-row-art {
    height: 184px;
    overflow: hidden;
    white-space: pre;
}
.collections-row-artwork {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 8px;
    height: 180px;
    max-width: 240px;
    box-sizing: border-box;
}
.collections-row.small .collections-row-artwork {
    height: 140px;
    max-width: 180px;
}

.slideshow-container {
    color: #FFF !important;
    background: url('/static/img/header.jpg');
    background-size: cover;
    text-align: center;
    padding: 60px;
    padding-top: 40px;

    width: 100%;
    margin: 0;
    height: 700px;
    margin-top:-9px;
}
.slideshow-container h1,
.slideshow-container h4 {
    opacity: 1;
}
.slideshow-container h1 {
    font-size: 100px;
}
.slideshow-container h4 {
    font-size: 40px;
}
.button {
    cursor: pointer;
}
.slideshow-container .button {
    border: 2px solid #FFF;
    border-radius: 4px;
    padding: 20px;
    width: 200px;
    background: white;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0.9;
    transition: opacity 0.2s linear;
    margin: auto;
}
.slideshow-container .button:hover {
    opacity: 1.0;
}

body {
  font-family: "helvetica nene", sans-serif;
}

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 9px;
}
nav.nav {
    display: table;
    padding: 4px 10px;
}
nav.nav ul {
    display: table-row;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.nav li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
nav.nav li:first-child {
    padding-left: 0;
}
nav.nav a {
  text-decoration: none;
  color: #9B9B9B;
  display: block;
  transition: color 0.2s linear;
  font-size: 18px;
}
nav.nav a:hover {
    color: black;
}
nav.nav li.divider {
    text-align: center;
    width: 100%;
}
nav.nav li.divider a {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 20px;
}
nav.nav li.login {
    white-space: nowrap;
}
.logo_img {
  height: 35px;
  margin-top: 5px;
}

.title-container.empty {
    display: none;
}
.title-container-contents {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: left;
}
.title-container-title {
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}
.art-card {
    display: block;
    background: #F1F1F1;
    margin: 20px;
    width: 500px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}
.art-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.art-card-art {
    max-width: 500px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.art-card-link {
    display: block;
    padding: 20px;
    padding-left: 10px;
    text-align: left;

    color: #000;
    font-family: "helvetica nene", sans-serif;
    font-size: 24px;

}
.artwork-page {
    padding-bottom: 80px;
}
.big-art-box {
    display: block;
    width: 100%;
    max-width: 1200px;
    display: table;
    padding-bottom: 40px;
    padding-top: 40px;
    background: #010104;
    font-family: "helvetica nene", sans-serif;
}
.big-art-info {
    font-size: 22px;
}
.title-container .big-art {
    margin-left: -20px;
}
.big-art-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.big-art-img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
    box-sizing: border-box;
    border: 6px solid #FFF;
}




/* ---------- */



h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica nene", sans-serif;
}
h1{
  font-size: 70px;
  font-weight: 400;
  opacity: 0.8;
  /*text-align: center;*/
}

h3{
  font-size: 20px;
  font-weight: 200;
}

h4{
  font-family: "pt serif", serif;
  font-size: 28px;
  font-weight: 100;
  opacity: 0.6;
}
h5{
  font-family: "helvetica nene", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color:black;
  opacity: 0.7; 
  margin-top:10px;
  margin-bottom:10px;
}
h6{
  font-family: "pt serif", serif;
  font-size: 13px;
  font-weight: 100;
  color:black;
  opacity: 0.4;
  margin-top:10px;
  margin-bottom:5px;
}

a{
  text-decoration: none;
}
* {box-sizing:border-box}
