body {
    margin: auto;
    box-sizing: border-box;
}
.body {
    padding: 20px;
    padding-bottom: 40px;
}
.body.gray {
    background: #F0F0F0;
}
.body.white {
    background: #FFFFFF;
}
.index-collections-wrapper {
    background-color: #F1F1F1;
    padding: 80px;
    box-sizing: border-box;
}
.index-collections-wrapper {
    text-align: center;
}
.centered {
    text-align: center;
}
.collections-row-text {
    font-size: 40px;
    margin-bottom: 20px;

}
.collections-row-text a,
.collections-row-text a:visited {
    color: #333;
}
.collections-row-text a:hover,
.collections-row-text a:active {
    color: #000;
}
.collections-row {
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    /*border-left: 4px solid #DEDEDE;*/
    padding-left: 20px;
    margin-bottom: 40px;
    margin-left: -20px;
}
.collections-row.dummy {
    background: #a1d0af;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 600px;
    cursor: not-allowed;
    margin-left: 0;
    transition: background 0.2s linear;
}
.collections-row.dummy:hover {
    background: #CECECE;
}
.collections-row.dummy .collections-row-text {
    margin-bottom: 0;
    padding-bottom: 0;
}
.collections-row.small .collections-row-art {
    height: 144px;
    overflow: hidden;
    white-space: pre;
}
.collections-row .collections-row-art {
    height: 184px;
    overflow: hidden;
    white-space: pre;
}
.collections-row-artwork {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 8px;
    height: 180px;
    max-width: 240px;
    box-sizing: border-box;
}
.collections-row-artwork:first-child {
    margin-left: 0;
}
.collections-row.small .collections-row-artwork {
    height: 140px;
    max-width: 180px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s linear;
    border: 1px solid rgba(0,0,0,0.2);
}
.collections-row.small .collections-row-artwork:hover {
    box-shadow: none;
}

.slideshow-container {
    color: #FFF !important;
    background: url('/static/img/header.jpg');
    background-size: cover;
    text-align: center;
    padding: 60px;
    padding-top: 40px;

    width: 100%;
    margin: 0;
    height: 700px;
    margin-top:-9px;
}
.slideshow-container h1,
.slideshow-container h4 {
    opacity: 1;
}
.slideshow-container h1 {
    font-size: 100px;
}
.slideshow-container h4 {
    font-size: 40px;
}
.button {
    cursor: pointer;
}
.slideshow-container .button {
    border: 2px solid #FFF;
    border-radius: 4px;
    padding: 20px;
    width: 200px;
    background: white;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0.9;
    transition: opacity 0.2s linear;
    margin: auto;
}
.slideshow-container .button:hover {
    opacity: 1.0;
}
.collection-title, .collection-description {
    padding: 10px;
    transition: background 0.2s linear;
    white-space: pre-line;
}
.collection-title {
    font-size: 36px;
    border-radius: 4px;
    margin-right: 200px;
}
.collection-description {
    font-size: 24px;
    text-align: justify;
    color: #444;
    border-radius: 4px;
}
.editing .collection-title,
.editing .collection-description {
    background: #FFF;
    text-align: left;
}
.edit-wrapper {
    max-width: 1200px;
    margin: auto;
}
.right-aligned {
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 180px;
    padding: 0;
    padding-left: 40px; 
}
.edit-button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.edit-button, .view-gallery {
    width: 100%;
    border: 1px solid #444;
    color: #444;
}
.edit-button:hover, .view-gallery:hover {
    border-color: #000;
    color: #000;
}
.view-gallery {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
.editing .view-gallery {
    display: none;
}
.noedit .edit-button {
    display: none;
}

body {
  font-family: "helvetica nene", sans-serif;
}

header {
    padding: 10px;
    background: #444;
}
nav.nav {
    display: table;
}
nav.nav ul {
    display: table-row;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.nav li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
nav.nav li:first-child {
    padding-left: 0;
}
nav.nav a {
  text-decoration: none;
  color: #9B9B9B;
  display: block;
  transition: color 0.2s linear;
  font-size: 18px;
  vertical-align: middle;
}
nav.nav a:hover {
    color: #FFF;
}
nav.nav li.divider {
    text-align: center;
    width: 100%;
}
nav.nav li.divider a {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 20px;
}
nav.nav li.login {
    white-space: nowrap;
}
.logo_img {
  height: 35px;
  margin-top: 5px;
}
.title-container {
}
.empty {
    display: none !important;
}
.title-container-contents {
    max-width: 100%;
    box-sizing: border-box;
}
.title-container-title {
    border-bottom: 1px solid transparent;
    padding-bottom: 12px;
    font-size: 36px;
    margin: 0;
}
.title-container-title.underline {
    border-bottom-color: black;
}
.art-card {
    display: block;
    background: #F1F1F1;
    margin: 20px;
    width: 500px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}
.art-card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.art-card-art {
    max-width: 500px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.art-card-link {
    padding: 30px;
    text-align: left;
    background: #FFF;
    color: #000;
    font-family: "helvetica nene", sans-serif;
    font-size: 24px;
}
.artwork-page {
    padding-bottom: 80px;
}
.big-art-box {
    display: block;
    width: 100%;
    display: table;
    font-family: "helvetica nene", sans-serif;
    margin-bottom: 40px;
}
.big-art-info {
    font-size: 22px;
}
.title-container .big-art {
    margin-left: -20px;
}
.big-art-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.big-art-img {
    display: block;
    margin: 0;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
    box-sizing: border-box;
    padding: 0;
    cursor: zoom-in;
}
.big-art-top.body {
    padding: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.big-art-bottom.body {
    padding: 40px 20px;
}
.big-art-label {
    font-family: "pt serif", serif;
    line-height: 1.4em;
    font-size: 28px;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: justify;
}

.big-art-tools > div {
    margin: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
.big-art-tools::after {
    clear: both;
}

.big-art-info {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: left;
}
.big-art-info-table {
    display: table;
    width: 100%;
}
.big-art-info-row {
    display: table-row;
}
.big-art-info-cell {
    display: table-cell;
    vertical-align: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
.big-art-info-table.no-label .big-art-info-row:first-child .big-art-info-cell {
    border-top: none;
}
.big-art-info-cell.name {
    width: 200px;
    font-weight: bold;
    padding-right: 40px;
}
.big-art-info-cell.value {
}
.collection-artworks {
    margin-left: -20px;
}
.art-ctrl-add {
    border-color: #224f01 !important;
    color: #224f01;
}
.art-ctrl-remove {
    border-color: #7b0101 !important;
    color: #7b0101;
}




/* ---------- */



h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica nene", sans-serif;
}
h1{
  font-size: 70px;
  font-weight: 400;
  opacity: 0.8;
  /*text-align: center;*/
}

h3{
  font-size: 20px;
  font-weight: 200;
}

h4{
  font-family: "pt serif", serif;
  font-size: 28px;
  font-weight: 100;
  opacity: 0.6;
}
h5{
  font-family: "helvetica nene", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color:black;
  opacity: 0.7; 
  margin-top:10px;
  margin-bottom:10px;
}
h6{
  font-family: "pt serif", serif;
  font-size: 13px;
  font-weight: 100;
  color:black;
  opacity: 0.4;
  margin-top:10px;
  margin-bottom:5px;
}

a{
  text-decoration: none;
}
* {box-sizing:border-box}
